$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$dark-color: #333333;
$primary-green: #18453b;
$secondary-green: #0db14b;
$gray: #97a2a2;
$orange: #f08521;
$green-yellow: #d1de3f;
$red: #e03932;

.center {
  margin: 0 auto;
  max-width: 400px;
}
